@media only screen and (max-width: 576px) {
    #mobileCarousel {
        display: block;
        visibility: visible;
    }

    #desktopCards {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 577px) {
    #mobileCarousel {
        display: none;
        visibility: hidden;
    }

    #desktopCards {
        display: block;
        visibility: visible;
    }
}

h1